GO_APP_HOST=0.0.0.0
GO_APP_PORT=8080
ROOKIE_HOST=127.0.0.1
ROOKIE_PORT=10097
INTERVIEWER_HOST=127.0.0.1
INTERVIEWER_PORT=10096
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MEILISEARCH_HOST=127.0.0.1
MEILISEARCH_PORT=7700
INTERVAL_TIME=500
DATA_QUEUE_KEYS=dialog_manager:chatgpt,dialog_manager:interviewer,dialog_manager:rookie
WS_HOST=localhost
WS_PORT=8080